.bg-user {
  display: block;
  width: 28px; height: 23px;
  background: url('../img/sprites.png') -193px -107px;
}
.bg-plain {
  display: block;
  width: 26px; height: 24px;
  background: url('../img/sprites.png') -179px -156px;
}
.bg-lamp_small {
  display: block;
  width: 21px; height: 36px;
  background: url('../img/sprites.png') -90px -156px;
}
.bg-instrument {
  display: block;
  width: 24px; height: 25px;
  background: url('../img/sprites.png') -53px -224px;
}
.bg-notebook {
  display: block;
  width: 34px; height: 23px;
  background: url('../img/sprites.png') -139px -107px;
}
.bg-sand_clock {
  display: block;
  width: 23px; height: 31px;
  background: url('../img/sprites.png') -10px -224px;
}
.bg-doc {
  display: block;
  width: 28px; height: 27px;
  background: url('../img/sprites.png') -131px -156px;
}
.bg-search {
  display: block;
  width: 29px; height: 29px;
  background: url('../img/sprites.png') -90px -107px;
}
.bg-leaf {
  display: block;
  width: 25px; height: 35px;
  background: url('../img/sprites.png') -244px -128px;
}
.bg-device {
  display: block;
  width: 100px; height: 77px;
  background: url('../img/sprites.png') -10px -10px;
}
.bg-lamp {
  display: block;
  width: 60px; height: 97px;
  background: url('../img/sprites.png') -10px -107px;
}
.bg-diamant {
  display: block;
  width: 94px; height: 76px;
  background: url('../img/sprites.png') -130px -10px;
}
.bg-pointer {
  display: block;
  width: 58px; height: 98px;
  background: url('../img/sprites.png') -244px -10px;
}